
/* Move bookmark toolbar to bottom of window */
:root:not([inDOMFullscreen]){
  --custom-bookmark-toolbar-height: 32px;
}
#PersonalToolbar{
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100vw;
  height: var(--custom-bookmark-toolbar-height);
  align-items: center;
}
#browser,
#customization-container {
  margin-bottom: var(--custom-bookmark-toolbar-height);
  border-bottom: 1px solid var(--chrome-content-separator-color) !important;
}

/* Remove the dropdown menu after tabs */
#alltabs-button {
  display: none;
}

/* Remove tab separators */
.tab-stack::before, .tab-stack::after {
  display: none;
}

/* Remove the space before tabs */
.titlebar-spacer[type="pre-tabs"] {
  display: none;
}
